@use "../utils/index.scss" as *;
#about {
  width: 100%;
  overflow: hidden;
  @include breakpoint-down(small) {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include breakpoint-down(medium) {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem(0);
  }
  //   height: 100%;
  background-color: var(--color-50);
  .about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(40);

    .about-btn {
      width: 100%;
      padding-top: rem(50);
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: rem(10) rem(40);
        border-radius: 30%;
        border: none;
        background-color: var(--color-200);
        color: var(--color-600);
        font-size: medium;
      }
    }

    .about-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      padding: 0 rem(30);
      @include breakpoint-down(small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      @include breakpoint-down(medium) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .about-left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint-down(small) {
          width: 100%;
        }
        @include breakpoint-down(medium) {
          width: 100%;
        }
        .about-image {
          width: rem(300);
          height: rem(345);
          background-image: url("/src/assets/rahim.jpg");
          background-position: top;
          background-size: cover;
          box-shadow: 20px 6px 0px var(--color-200),
            20px 17px 0px var(--color-200);
            @include breakpoint-down(medium){
                margin-bottom: rem(30);
            }
        }
      }
      .about-right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: rem(20);
        margin-bottom: rem(30);
        @include breakpoint-down(small) {
          width: 100%;
          margin-top: rem(30);
        }
        @include breakpoint-down(medium) {
          width: 100%;
          padding: 0 rem(30);
        }
        h2 {
          color: var(--color-900);
          font-size: rem(32);
        }
        P {
          text-align: justify;
          color: var(--color-600);
        }
      }
    }
  }
}
