@use "../utils/index.scss" as *;
#contact {
  width: 100%;
  height: 50vh;
  text-align: center;
  margin: rem(20) 0;

  p {
    color: var(--color-600);
  }

  h1 {
    color: var(--color-900);
  }

  .contact-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(20);

    
  @include breakpoint-down(medium){
    justify-content: center;
    align-items: center;
  }
    .contact-1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(20);
      button {
        padding: rem(10) rem(40);
        border-radius: 30%;
        border: none;
        background-color: var(--color-200);
        color: var(--color-600);
        font-size: medium;
      }
    }
    .contact-2 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(10);
    }
    .contact-3 {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: rem(8);
      justify-content: center;
      align-items: center;

      .contact-images {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(5);
      }
    }

    .copyright {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
